# Virtual Environments
venv/
env/
**/mera-env/

# Python
__pycache__/
*.pyc

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
yarn.lock
package-lock.json

# Logs and Temp
*.log
logs/
tmp/
temp/

# Env files
.env*
*.env

# Build
build/
dist/

# Models and Artifacts
*.onnx
*.pt
*.pth
*.weights
*.tflite
*.mera
*.mdp
*.json
*.bin

# Datasets and Sources
examples/**/datasets/
examples/**/source_model_files/
examples/**/source_model_quantized/

# Platform-specific
.DS_Store
Thumbs.db

# Project specific folders
bmc/
initialize_sakura_ii/
telemetry_sakura_ii/
